<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAccess.Properties.Settings.StudentConnectionStringUSETHIS"
            connectionString="Data Source=fastapps04.qut.edu.au;Initial Catalog=n7226837;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>