form.form label {
	float: left;
	height: 23px;
	padding-top: 5px;
	min-width: 200px;
	margin-right: 10px;
}

form.form textarea{
	min-height: 200px;
	min-width: 500px;
}

td.loginCheckbox input[type=checkbox]
{
    float: left;    
    margin-right: 10px;
}

td.loginCheckbox label
{
    float: left;    
}