<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StudentAccess.Properties.Settings.n6869378ConnectionString"
            connectionString="Data Source=fastapps04.qut.edu.au;Initial Catalog=n6869378;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>