<?xml version="1.0"?>

<configuration>
  <connectionStrings>
    <add name="LocalTestConnectionString" connectionString="Data Source=fastapps04.qut.edu.au;Initial Catalog=n7226837;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    
  </connectionStrings>
   <system.web>
   
        <compilation debug="true" targetFramework="4.0" />
     <customErrors mode="Off"/>
     
   <!-- 
   <authentication mode="Forms">
       <forms loginUrl="Login.aspx"/>
     </authentication>
   
     <authorization>
       <deny users="?"/>
     </authorization>
    -->
    </system.web>

</configuration>
