<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="LocalTestConnectionString" connectionString="Data Source=fastapps04.qut.edu.au;Initial Catalog=n7226837;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="n7226837ConnectionString" connectionString="Data Source=fastapps04.qut.edu.au;Initial Catalog=n7226837;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="MarksConnectionString" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=webapp;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<location path="assets">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<system.web>
		<compilation debug="true">
		</compilation>
		<roleManager enabled="true" defaultProvider="MyRoleProvider">
			<providers>
				<add name="MyRoleProvider" type="MyRoleProvider"/>
			</providers>
		</roleManager>
		<customErrors mode="Off"/>
		<authentication mode="Forms">
			<forms loginUrl="Login.aspx" defaultUrl="~/Dashboard.aspx"/>
		</authentication>
		<authorization>
			<deny users="?"/>
		</authorization>
	</system.web>
	<system.codedom>
	</system.codedom>
	<system.webServer>
	</system.webServer>
</configuration>
